<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Define a RollingFileAppender -->
        <RollingFile name="R" fileName="/data/web/Maglab-Metadata-Hub/logs/magapp2.log"
                     filePattern="/data/web/Maglab-Metadata-Hub/logs/magapp2-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{ISO8601} [%t] %-5p %c %x - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="300MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <!-- Root logger configuration -->
        <Root level="debug">
            <AppenderRef ref="R"/>
        </Root>
    </Loggers>
</Configuration>
